@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
}

body {
    max-height: 100%;
    background-color: #fff9f9;
}

.mpcontainer {
    max-width: 70%;
}

#nav{
    font-size: 1.5rem;
    letter-spacing: 4px;
    margin: 10px auto;
    text-align: center;
}

#nav li {
    display: inline-block;
    padding: 20px;
}

a{
    text-decoration: none;
    color: black;
}

h1 {
    color: rgb(40, 126, 155);
    font-family: "Roboto Mono", sans-serif;
    text-align: center;
    padding: 5%;
}

h2 {
    color: rgb(81, 199, 238);
    font-family: "Roboto Mono" sans-serif;
    text-align: center;
}
 /*Aside with the BMI calculator*/
.sidecalc {
    height: 100%;
    width: 20%;
    padding: 3%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    border-left: 1px solid;
}